<Configuration>
    <Appenders>
        <Console name="ConsoleLog">
            <PatternLayout>
                <Pattern>%d{dd-MM HH:mm:ss:SSS} %p [%t] [%c{1}] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncRoot level="debug" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </AsyncRoot>

        <AsyncLogger name ="com.lykke.matching.engine.messages.MessageProcessor" level="info">
        </AsyncLogger>

        <AsyncLogger name ="org.apache.http" level="info">
        </AsyncLogger>

        <AsyncLogger name = "org.springframework" level="info">
        </AsyncLogger>
    </Loggers>
</Configuration>