<Configuration>
    <Appenders>
        <Console name="ConsoleLog">
            <PatternLayout>
                <Pattern>%d{dd-MM HH:mm:ss:SSS} %p [%t] [%c{1}] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </Root>

        <Logger name ="com.lykke.matching.engine.messages.MessageProcessor" level="info">
        </Logger>

        <Logger name ="org.apache.http" level="info">
        </Logger>

        <Logger name = "org.springframework" level="info">
        </Logger>
    </Loggers>
</Configuration>